.times {
    text-align: left;
}
.title {
    height: 20px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 2px solid black;
    position:sticky;
    top:0;
    z-index: 3;
}
.row {
    height:100px;
}
.name {
    background-color: rgba(0,0,0, .15);
    border-bottom: 2px solid black;
}
.column {
    width: 120px;
}
.time-row {
    position: relative;
    border-bottom: 2px solid black;
}
.other {
    position: absolute;
}
.other:hover {
    cursor:pointer;
}
.info {
    display:none;
    min-width: 0px;
}
.other:hover > .info {
    font-size: 10pt;
    border: 4px solid rgba(0,0,0, .25);
    box-sizing: border-box;
    display:inline-flex;
    position: absolute;
    min-width: 300px;
    z-index: 2;
    justify-content: flex-end;
    animation-duration: .25s;
    animation-name: DetailHover;
}
.info > div {
    color: #222;
    text-align: left;
    font-weight: bold;
}
.box {
    position: absolute;
    z-index: -1;
}
.box-bind {
    position: relative;
}
.lines {
    width: 1px;
    background-color: black;
}
.bars {
    width: calc(120px * (21 - 7));
    height: 2px;
    background-color:black;
}
.spacer {
    width:119px;
}
.nameButton {
    font-weight:bold;
    text-decoration: underline;
}
.nameButton:hover {
    cursor:pointer;
}
#Title {
    font-size: 11pt;
}
#Frame {
    margin: 0px;
    border: 2px solid black;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
}
#Frame::-webkit-scrollbar-thumb {
    background-color: rgba(31,31,31,.5);
    border-radius: 20px;
}
#Frame::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}
#Frame::-webkit-scrollbar-track {
    background-color:#FFF922;
}
#Frame::-webkit-scrollbar-corner {
    background-color: gold;
}

#Frame::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
#Names {
    position: sticky;
    left: 0;
    display: inline-block;
    background-color:white;
    border-right: 2px solid black;
    z-index:4;
    box-sizing: border-box;
}
#Frame > div {
    width: fit-content;
    height: fit-content;
}
@keyframes DetailHover {
    from {
        min-width:120px;
        opacity: 0;
    }
    to {
        min-width: 300px;
        opacity: 1;
    }
}
