.times {
    text-align: left;
}
.title {
    height: 20px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 2px solid black;
    position:sticky;
    top:0;
    z-index: 3;
}
.row {
    height:100px;
}
.mini-margin {
    margin: 2px;
}
.column {
    width: 120px;
}
.time-row {
    position: relative;
}
.other {
    position: absolute;
}
.other:hover {
    cursor:pointer;
}
.info {
    display:none;
}
.other:hover > .info {
    background-color:beige;
    display:block;
    position: absolute;
    width:10vw;
    height:fit-content;
    left:20px;
    top:20px;
    z-index: 2;
}
.box {
    position: absolute;
    z-index: -1;
}
.box-bind {
    position: relative;
}
.lines {
    width: 1px;
    background-color: black;
}
.bars {
    width: 2880px;
    height: 2px;
    background-color:black;
}
.spacer {
    width:119px;
}
#Frame {
    margin: 0px;
    overflow-x: auto;
    overflow-y: auto;
}
#Frame::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
}
#Frame::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

#Frame::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
#Names {
    position: sticky;
    left: 0;
    display: inline-block;
    background-color:white;
    border-right: 2px solid black;
    z-index:4;
}
#Frame > div {
    width: fit-content;
    height: fit-content;
}

