.times {
    text-align: left;
}
.title {
    height: 20px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 2px solid black;
    position: sticky;
    top: 26px;
    z-index: 2;
}
.row {
    height:100px;
}
.mini-margin {
    margin: 2px;
}
.column {
    width: 120px;
}
.other {
    background-color: pink;
    position: relative;
}
.other:hover {
    cursor:pointer;
}
.info {
    display:none;
}
.other:hover > .info {
    background-color:beige;
    display:block;
    position: absolute;
    width:10vw;
    height:fit-content;
    left:20px;
    top:20px;
}
.box {
    position: absolute;
    z-index: -1;
}
.box-bind {
    position: relative;
}
.lines {
    width: 1px;
    background-color: black;
}
.bars {
    width: 2880px;
    height: 2px;
    background-color:black;
}
.spacer {
    width:119px;
}
#Frame {
    height: 80%;
    max-height: 100%;
    margin: 0px;
    display: inline-flex;
}
#Frame::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
}

#Frame::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
#Names {
    position: sticky;
    left: 0;
    display: inline-block;
    background-color:white;
    border-right: 2px solid black;
    z-index:3;
}
.test {
    display:inline-flex;
}