#NameInformation {
    height: 140px;
}

#PreferredName {
    height: 32pt;
    font-size: 32pt;
    border: none;
    border-bottom: 2px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:50%;
    margin-right: 5px;
    text-align: right;
}

#PreferredName:hover {
    background-color: rgba(0, 0, 0, .15);
}
#Status {
    font-size: 28pt;
    height: 100%;
    width: 100%;
}
#ChangeStatus {
    height: 32pt;
    font-size: 28pt;
    border: none;
    border-bottom: 2px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: calc(100% - 40px);
    margin-left: 5px;
}
#ChangeStatus:hover {
    background-color: rgba(0, 0, 0, .15);
}
#SaveStatus {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#SaveStatus:hover {
    cursor: pointer;
}

#SaveStatus > img {
    aspect-ratio: 1;
    height: 25px;
}
#SaveWriting {
    margin-right: 10px;
    background-color: rgba(0,0,0,0);
}
#SaveWriting:hover {
    cursor: pointer;
}
#SaveWriting > img{
    aspect-ratio: 1;
    height: 25px;
}
#PasswordChange {
    position:absolute;
    background-color:white;
    width: calc(100% - 40px);
}
#PasswordChangerShowHide:hover {
    cursor:pointer;
}
#PasswordChangerShowHide > img {
    aspect-ratio: 1;
    height: 40px;
}
#EmailContainer {
    position:relative;
}
#Password {
    height: 28pt;
    font-size: 24pt;
    border: none;
    border-bottom: 2px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: calc(100% - 30px);
    margin-right: 5px;
}
#Password:hover {
    background-color: rgba(0, 0, 0, .15);
}

#SavePassword {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#SavePassword:hover {
    cursor: pointer;
}

#SavePassword>img {
    aspect-ratio: 1;
    height: 25px;
}

#ProfilePicture {
    aspect-ratio: 1;
    border-radius: 100%;
}
#TutorName {
    font-size: 32pt;
}
#TutorEmail {
    font-size: 28pt;
}
#LinkAdding {
    position:absolute;
    background-color: white;
    min-width: 100%;
}

#Links {
    position:relative;
    overflow-x:auto;
    overflow-y: hidden;
    min-height: 40px;
}
.bubble {
    border: 2px solid #DDD;
    box-sizing: border-box;
}
.linkImage {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 25px;
    padding: 2px;
    background-color: #DDD;
}
.linkImage:hover {
    cursor: pointer;
}
.badInput {
    border: 1px solid red;
}
.X {
    height: 20px;
    width: 20px;
}
.X:hover {
    cursor:pointer;
}
.none {
    color: gray;
    font-style:italic;
}
#NameSection {
    width: fit-content;
    height: 100%;
}
#DateSelectionTutor {
    height: 100%;
}
#LinkTitle {
    width: 25px;
}
/*Mobile Friendliness*/

@media screen and (max-width: 993px) {
    #NameInformation {
        min-height: 210px;
        flex-wrap: wrap;
    }
    #NameSection {
        width: 100%;
        height: 105px;
    }
    #TutorInformation {
        width: calc(100% - 105px);
    }
    #TutorName {
        font-size: 26pt;
    }
    #TutorEmail {
        font-size: 18pt;
        word-wrap: break-word;
    }
    #Status {
        font-size: 22pt;
        height: 105px;
        width: 50%;
    }
    .linkImage {
        height: 20px;
    }
    #Links {
        font-size: 10pt;
        min-height: 35px;
    }
    ::-webkit-scrollbar {
        width: 7.5px;
        height: 7.5px;
    }
    #DateSelectionTutor {
        height: 105px;
        width: 50%;
        order: 3;
        min-width: 0px;
        min-height: 0px;
    }
    #SaveWriting {
        margin-right: 5px;
    }
    #SaveWriting > img {
        height: 20px;
    }
    #PreferredName {
        height: 25px;
        font-size: 20pt;
        padding: 0px;
    }
    #TutorName > div {
        font-size: 20pt;
    }
    #Password {
        height: 25px;
        font-size: 20pt;
        padding: 0px;
    }
    #ChangeStatus {
        padding: 0px;
        margin: 0px;
    }
    #PasswordChangerShowHide > img { 
        height: 26px;
    }
}
@media screen and (max-width: 525px) {
    #NameInformation {
        min-height: 175px;
    }
    #NameSection {
        width: 100%;
        height: 70px;
    }
    #TutorInformation {
        width: calc(100% - 70px);
    }
    #TutorName {
        font-size: 16pt;
    }
    #TutorEmail {
        font-size: 8pt;
        word-wrap:break-word;
    }
    #Status {
        font-size: 16pt;
        height: 70px;
        width: 100%;
    }
    .linkImage {
        height: 15px;
    }
    #Links {
        font-size: 8pt;
        min-height: 30px;
    }
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    #DateSelectionTutor {
        flex-direction: row;
        height: 35px;
        width: 100%;
        font-size: 8pt;
    }
    #EmailContainer {
        height: 12px;
    }
    #PreferredName {
        height:17px;
        font-size: 12pt;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #TutorName>div {
        font-size: 12pt;
    }
    #ChangeStatus {
        height: 30px;
        font-size: 20px;
    }
    #Password {
        height: 12px;
        font-size: 12pt;
        padding: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    #SaveWriting {
        margin-right: 3px;
    }

    #SaveWriting>img {
        height: 12px;
    }
    #SavePassword >img {
        height: 17px;
    }
    #LinkAdding > input {
        height: 8pt;
        font-size: 7pt;
    }
    #LinkAdding>select {
        height: 10pt;
        font-size: 7pt;
    }
    
}