#TutorName {
    font-size: 32pt;
}
#TutorEmail {
    font-size: 28pt;
}
#TutoringInformation {
    height: 80%;
    padding: 1px;
}
#NameInformation {
    height: 20%;
}
.bubble {
    border: 2px solid #DDD;
    box-sizing:border-box;
}
.course {
    width: 100px;
    height: 75px;
    user-select: none;
}
.course:hover {
    cursor:pointer;
}
.preferred {
    flex-wrap: wrap;
}
.preferredContainer {
    width: 350px;
    overflow-y:auto;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}