#NameInformation {
    height: 20%;
    min-height: 140px;
}

#PreferredName {
    height: 32pt;
    font-size: 32pt;
    border: none;
    border-bottom: 2px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:50%;
    margin-right: 5px;
    text-align: right;
}

#PreferredName:hover {
    background-color: rgba(0, 0, 0, .15);
}
#Status {
    font-size: 28pt;
}
#ChangeStatus {
    height: 32pt;
    font-size: 28pt;
    border: none;
    border-bottom: 2px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: calc(100% - 30px);
    margin-left: 5px;
}
#ChangeStatus:hover {
    background-color: rgba(0, 0, 0, .15);
}
#SaveStatus {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#SaveStatus:hover {
    cursor: pointer;
}

#SaveStatus > img {
    aspect-ratio: 1;
    height: 25px;
}
#SaveWriting {
    margin-right: 10px;
    background-color: rgba(0,0,0,0);
}
#SaveWriting:hover {
    cursor: pointer;
}
#SaveWriting > img{
    aspect-ratio: 1;
    height: 25px;
}
#PasswordChange {
    position:absolute;
    background-color:white;
    width: calc(100% - 40px);
}
#PasswordChangerShowHide:hover {
    cursor:pointer;
}
#PasswordChangerShowHide > img {
    aspect-ratio: 1;
    height: 40px;
}
#EmailContainer {
    position:relative;
}
#Password {
    height: 28pt;
    font-size: 24pt;
    border: none;
    border-bottom: 2px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: calc(100% - 30px);
    margin-right: 5px;
}
#Password:hover {
    background-color: rgba(0, 0, 0, .15);
}

#SavePassword {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#SavePassword:hover {
    cursor: pointer;
}

#SavePassword>img {
    aspect-ratio: 1;
    height: 25px;
}

#ProfilePicture {
    aspect-ratio: 1;
    border-radius: 100%;
}
#TutorName {
    font-size: 32pt;
}
#TutorEmail {
    font-size: 28pt;
}
#LinkAdding {
    position:absolute;
    background-color: white;
}

#Links {
    position:relative;
    overflow-x:auto;
    overflow-y: hidden;
    min-height: 40px;
}
.bubble {
    border: 2px solid #DDD;
    box-sizing: border-box;
}
.linkImage {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 25px;
    padding: 2px;
    background-color: #DDD;
}
.linkImage:hover {
    cursor: pointer;
}
.badInput {
    border: 1px solid red;
}
.X {
    height: 20px;
    width: 20px;
}
.X:hover {
    cursor:pointer;
}
.none {
    color: gray;
    font-style:italic;
}